@media only screen and (max-width: 999px) {
  .property_header {
    display: grid;
    grid-template-rows: auto auto;
  }
}
@media screen and (min-width: 1000px) {
  .property_header {
    display: grid;
    grid-template-columns: 500px auto;
  }
}

.details_container {
  display: flex;
  flex-direction: column;
}

.details_container h1 {
  font-size: 40px;
}

.rooms_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 50px;
  background-color: rgb(238, 220, 162);
  width: 100%;
}

.description_container {
  margin-top: 40px;
}

.description_container h2 {
  font-size: 35px;
}
